{% extends "layout.html" %}
{% block content %}
    {% if not photos %}
        <h2> No Search result found :-( </h2>
    {% else %}
        <h2></center> Photos of {{ term }}</center></h2>
        <div class="photo">
        <ul class="hoverbox">
            {% for photo in photos[:maximum] %}
                <li>
                    <a href="#"><img src="{{ photo.getPhotoFile() }}" id="insertedImage{{ loop.index }}" /><img src="{{ photo.getPhotoFile() }}" class="preview" id="insertImageLink{{ loop.index }}" /></a>
                </li>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}