{% extends "layout.html" %}
{% block content %}
    {% if not photos %}
        <h2> No Search result found :-( </h2>
    {% else %}
        <h2></center> Photos of {{ term }}</center></h2>
        <div class="photo">
        <ul class="hoverbox">
            {% for photo in photos[:maximum] %}
            {% set img_src = photo.getPhotoFile() %}
                <li>
                    <a href="#"><img src="{{ img_src }}"/><img src="{{ img_src }}" class="preview"/></a>
                </li>
            {% endfor %}
        </div>
    {% endif %}
{% endblock %}