{% extends "layout.html" %}
{% block content %}
    {% if not photos and not odb_photos %}
        <h2> No Search result found :-( </h2>
    {% else %}
        {% if photos %}        
            <h2></center> Photos of {{ term }} in Flickr</center></h2>
            <div class="photo">
            <ul class="hoverbox">
                {% for photo in photos[:maximum] %}
                    <li>
                        <a href="#"><img src="{{ photo.getPhotoFile() }}" id="insertedImage{{ loop.index }}" /><img src="{{ photo.getPhotoFile() }}" class="preview" id="photo{{ loop.index }}" /></a>
                    </li>
                {% endfor %}
            </div>
        {% endif %}

        {% if odb_photos %}
            <h2></center> Photos of {{ term }} in OneDrive</center></h2>
            <div class="photo">
            <ul class="hoverbox">
                {% for odb_photo in odb_photos[:maximum] %}
                    <li>
                        <a href="#"><img src="{{ odb_photo.getPhotoFile() }}" /><img src="{{ odb_photo.getPhotoFile() }}" class="preview" /></a>
                    </li>
                {% endfor %}
            </div>
        {% endif %}
    {% endif %}
{% endblock %}